body {
    background-color: #FC5F5F
}

#logo, #settings, #login {
    display: inline-block;
}


#logo + #settings{
    margin-left: 600px;
}

#logo {
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    color: white;
}

#settings{
    background-color: #f69e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    opacity: 1;
}
#login{
    background-color: #f69e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    padding: 15px 45px;
    text-align: center;
}
#formHidden {
    display: none
}

#mainBar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 10px;
}

#loginForm, #signupForm {
    background-color: #ffffff;
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input{
    align-items: center;
}

label{
    position: left;
    text-align: left;
}
#submitLogin, #signUp {
    display: inline-block
}

#formContainer{
    position: relative;
    width: 300px;
    height: max-content;
    margin-left: 64%;

}

#loginContainer, #signupContainer{
    width: 360px;
    position:relative;
    display: block;
    text-align: center;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

#pad{
    position:absolute;
    background-color: #ffffff;
    border-radius: 20px;
}
.infoForm{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgba(31, 30, 30, 0.668);
}
.infoInput{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formClick{
    background-color: rgba(31, 30, 30, 0.668);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#timerContainer{
    flex:1;
    border: 10px solid #f69e9e;
    background-color: #f69e9e;
    border-radius: 10px;
    padding: 30px;
    width:fit-content

}
