body {
    background-color: #FC5F5F
}

#logo, #settings, #login,#signup {
    display: inline-block;
}


#logo + #settings{
    margin-left: 600px;
}

#logo {
    margin-bottom: 30px;
    font-family: "Arial Rounded MT Bold";
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

#settings{
    background-color: #f69e9e5e;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-right: 20px;
    border: 2px;
    border-color: #f69e9e;
    padding: 8px 28px;
    text-align: center;
    border-radius: 8px;
}
#login{
    background-color: #f69e9e5e;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-right: 20px;
    border: 2px;
    border-color: #f69e9e;
    padding: 8px 38px;
    text-align: center;
    border-radius: 8px;
}
#signUp{
    background-color: #f69e9e5e;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: 2px;
    border-color: #f69e9e;
    padding: 8px 30px;
    text-align: center;
    border-radius: 8px;
}

#formHidden {
    display: none
}

#mainBar
{
    display: flex;
    align-items: center;
    justify-content: center;
}


#loginForm, #signupForm, #settingForm {
    background-color: #ffffff;
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input{
    align-items: center;
    margin-bottom: 10px;
}

label{
    position: left;
    text-align: left;
}
#submitLogin, #signUp {
    display: inline-block
}

#formContainer{
    position: relative;
    width: 300px;
    height: 450px;
    margin-left: 40%;
    display: block;

}

#loginContainer, #signupContainer, #settingContainer{
    width: 360px;
    position:relative;
    display: block;
    text-align: center;
    height: max-content
}

.title{
    font-family: "Poppins";
    font-size: 20px;
    color: white;
}

#pad{
    position:absolute;
    background-color: #ffffff;
    border-radius: 8px;
}
.infoForm{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    color: rgba(31, 30, 30, 0.668);
}
.infoInput{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formClick{
    background-color: rgba(31, 30, 30, 0.668);
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
}
#timerParentContainer{
    margin: auto;
    width: auto;
    height: auto;
}
#timerChildContainer{
    flex:1;
    border: 10px  #f69e9e5e;
    background-color: #f69e9e5e;
    border-radius: 8px;
    width:600px;
    height: 425px;
    margin: 0 auto;
}

#timerHeader{
    width:600px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.workHeader, .shortHeader, .longHeader{
    display: inline-block;
    
}
#timerContainer{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content
}

.shortHeader, .longHeader{
    margin-left: 30px;
}
h3 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.timer {
    font-size: 180px;
    font-family: "Arial Rounded MT Bold";
    color:white;
}

.pomodoro{
    font-size: 12px;
    font-family: "poppins";
    color:white;
}
#pauseAndPlayContainer{
    padding-top: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content
}
#startTimer{
    background-color: rgb(40, 181, 40);
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-right: 20px;
    border: 2px;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}
#pauseTimer{
    background-color: red;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: 2px;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
}
#timerFooter{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: max-content;
    height: max-content;
    padding-top: 30px;
}

#quotesParentContainer{
    margin: auto;
    width: auto;
    height: auto;
}

#quotesChildContainer{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
#quoteText, #quoteAuthor{
    color: white;
    font-family: "Poppins"
}
#quoteAuthor{
    text-align: center;
}